.container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-primary-hover);
}

.card {
  width: 80vw;
}

.solgen {
  font-size: 40px;
  font-weight: var(--font-weight-semi-bold);
  margin-bottom: 48px;
}

.title {
  text-align: center;
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-semi-bold);
  margin-bottom: var(--space-xl);
}

.form {
  display: flex;
  flex-direction: column;
  gap: var(--space-md);
}

.input {
  border-radius: var(--radius-common);
  background-color: var(--bg-color);
}

.button {
  margin-top: var(--space-md);
  background-color: var(--bg-primary);
}
