.container {
  padding: 16px;
}

.card {
  padding: 20px;
  font-size: var(--font-size-sm);
  font-weight: 400;
  line-height: 20px;
  background-color: var(--bg-color-white);
  border-radius: var(--radius-common);
}

.actionButtons {
  display: flex;
  justify-content: flex-end;
  gap: 12px;
  margin-top: 24px;
}
