.container {
  padding: 16px;
}

.card {
  padding: 20px;
  font-size: var(--font-size-sm);
  font-weight: 400;
  line-height: 20px;
  background-color: var(--bg-color-white);
  border-radius: var(--radius-common);
}

.actionButtons {
  display: flex;
  gap: 16px;
  margin-top: 24px;
  .button,
  .button2 {
    width: 100%;
    background-color: var(--primary-color);
  }
  .button2 {
    background-color: var(--success-color);
  }
}
