.container {
  padding: 16px;
}

.card {
  padding: 20px;
  font-size: var(--font-size-sm);
  font-weight: 400;
  line-height: 20px;
  background-color: var(--bg-color-white);
  border-radius: var(--radius-common);
}

.email {
  color: var(--text-color-secondary);
  margin-top: var(--space-sm);
}

.actionSection {
  display: flex;
  flex-direction: column;
  gap: var(--space-md);
  margin-top: var(--space-xl);
}

.actionButton {
  width: 100%;
  background-color: var(--primary-color);
}

.version {
  text-align: center;
  color: var(--text-color-light);
  margin-top: var(--space-xl);
  font-size: var(--font-size-sm);
}
