.container {
  padding: 16px;
}

.card {
  padding: 20px;
  font-size: var(--font-size-sm);
  font-weight: 400;
  line-height: 20px;
  background-color: var(--bg-color-white);
  border-radius: var(--radius-common);
  margin-bottom: 8px;
}
.title {
  margin-bottom: 16px;
}
.form {
  width: 100%;
}

.input {
  width: 100%;
}

.submitButton {
  width: 100%;
  background-color: var(--primary-color);
}
