.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 24px;
}

.actionButtons {
  display: flex;
  flex-direction: column;
  gap: var(--space-md);
  margin-top: var(--space-xl);
  .button,
  .button2 {
    width: 100%;
  }
  .button2 {
    background-color: var(--success-color);
  }
}
