.wordList {
  width: 100%;
  margin-top: 32px;
}

.title {
  margin-bottom: 16px;
}

.list {
  padding: 16px 16px 60px !important;
}

.wordCard {
  width: 100%;
  background-color: var(--success-color);
  padding: 12px;
  border-radius: var(--radius-common);
}

.wordCardBody {
  padding: 12px;
}

.wordCardContent {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
  .title {
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
  .stage {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    color: var(--success-color);
    background-color: var(--primary-color);
    font-size: 12px;
    margin-left: 8px;
    user-select: none;
  }
}

.remove {
  color: var(--primary-color) !important;
}
.icon {
  width: 16px;
  height: 16px;
}
.pronunciationContainer {
  display: flex;
  align-items: center;
  gap: 8px;
}
.voice {
  position: absolute;
  bottom: 8px;
  right: 8px;
  .icon {
    width: 32px;
    height: 32px;
    color: var(--primary-color);
  }
}
