.wordList {
  width: 100%;
  margin-top: 32px;
}

.title {
  margin-bottom: 16px;
}

.wordCard {
  width: 100%;
  background-color: var(--success-color);
  padding: 12px;
  border-radius: var(--radius-common);
}

.wordCardBody {
  padding: 12px;
}

.wordCardContent {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.remove {
  color: var(--primary-color) !important;
}
.icon {
  width: 16px;
  height: 16px;
}
