.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4px;
  .box {
    width: 100%;
    padding: 12px;
    background-color: var(--bg-color-green);
    border: 1px solid var(--success-color);
    border-radius: var(--radius-common);
    min-height: 130px;
    position: relative;
    .boxTitle {
      font-weight: var(--font-weight-bold);
      color: var(--primary-color);
    }
    .num {
      position: absolute;
      right: 16px;
      bottom: 16px;
      font-size: 40px;
      font-weight: var(--font-weight-bold);
      color: var(--primary-color);
    }
    .percent {
      font-size: 18px;
      font-weight: var(--font-weight-bold);
      text-align: right;
      color: var(--primary-color);
      padding: 8px 0;
      &:last-child {
        padding: 8px 0 0;
      }
    }
    .today {
      color: var(--error-color);
    }
  }
}

.reviewArea {
  width: 100%;
  text-align: center;
  min-height: 200px;
  margin-top: 4px;
}

.completedMessage {
  margin-top: 40px;
}

.wordCard {
  width: 100%;
  height: calc(100svh - 60px - 32px - 4px - 130px);
  background-color: var(--bg-color-green);
  border: 1px solid var(--success-color);
  padding: 20px;
  border-radius: var(--radius-common);
  position: relative;
  .statistics {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--text-color);
    span {
      font-size: 18px;
      font-weight: var(--font-weight-medium);
    }
  }
  .question {
    margin: 36px 0;
    color: var(--primary-color);
  }
  .answer {
    margin: 0 auto;
    width: 80%;
    padding: 24px 0;
    color: var(--bg-color);
    background-color: var(--primary-color);
  }
  .voice {
    margin-top: 20px;
    .icon {
      width: 32px;
      height: 32px;
      color: var(--primary-color);
    }
  }
  .cardFoot {
    position: absolute;
    width: calc(100% - 40px);
    display: flex;
    bottom: 24px;
    gap: 16px;
    .button,
    .button2 {
      width: 100%;
      background-color: var(--primary-color);
    }
    .button2 {
      background-color: var(--success-color);
    }
  }
}
