.container {
  padding: 16px;
}

.card {
  padding: 20px;
  font-size: var(--font-size-sm);
  font-weight: 400;
  line-height: 20px;
  background-color: var(--bg-color-white);
  border-radius: var(--radius-common);
}

.title {
  margin-bottom: 18px;
}

.actionButtons {
  display: flex;
  flex-direction: column;
  gap: var(--space-md);
  margin-top: var(--space-xl);

  .button {
    width: 100%;
    background-color: var(--primary-color);
  }
}
